body {
    margin: 0;
    padding: 0;
    font-family: raleway;
    background-color: black;
    text-align: center;
}

nav {    
    overflow: visible;
}
footer .iconos {
    text-align: right;
}
#logo-texto {
    text-align: justify;
}