body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    text-align: center;
}

nav {    
    overflow: visible;
    text-decoration: white;
}
footer .iconos {
    text-align: right;
}
#logo-texto  svg{
    background-color: aqua;
    color: aqua;
}